/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body
{
    height: 100%;
    width: 100%;
}

body {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    background: #C5D89D;
}

app-root {
    height: 100%;
}

a {
    text-decoration: none;
    color: #222831;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 75;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 75;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 75;
}

p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal; 
    font-variation-settings:
    "wdth" 75;
}

.main-content a {
    color: blue;
    text-decoration: underline;
}

nav {
    width:100%;
    background: #89986D;
    border-radius: 10px;
    border-style: groove;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer {
	height: 75px;
    width: 100%;
	margin: 0px auto 10px;
    background: #89986D;
    border-radius: 10px;
    border-style: groove;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Fonts */
.roboto-900 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 75;
}

.orbitron-500 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Classes */
.background {
    position: fixed;
    inset: 0;
    z-index: -10;
}

.container {
    max-width: 900px;
	margin: 0px auto;
}

.main-flex {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-bar {
	max-width: 900px;
	height: 75px;
	margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.name {
    margin: auto 0;
    flex-shrink: 0;
    font-size: 32px;
    color: #222831;
}

.menu {
    margin: auto 0;
    color: #222831;
}

.main-content {
    height: 100%;
	max-width: 900px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

app-home {
    text-align: center;
    line-height: 1.4;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

app-home h1{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 68px;
    font-variation-settings:
    "wdth" 75;
}

.fakeimg {
    background-color: grey;
}

.home {
    text-align: center;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro {
    padding: 75px;
    flex: 1 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about {
    padding: 25px;
}

.home h1{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 68px;
    font-variation-settings:
    "wdth" 75;
}

.selfie {
    margin: 0px auto;
    border-radius: 50px;
}

.project-selector {
    height: 300px;
    max-width: 800px;
    margin: 0px auto;
}

.about-text {
    text-align: center;
    line-height: 1.8;
}

.work-experience-box {

    border-color: black;
    border-radius: 10px;
    padding: 10px;
    border-block-start: 10px solid grey;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2),0px 2px 2px 0px rgba(0,0,0,.14),0px 1px 5px 0px rgba(0,0,0,.12);
}

.experience {
    text-align: center;
    line-height: 1.8;
    padding: 10px 50px 50px;
}

.experience p {
    text-align: left;
}

.education {
    text-align: center;
    line-height: 1.8;
    padding: 30px 50px 30px;
}

.img-mcmaster {
    float: right;
    border-radius: 10px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2),0px 2px 2px 0px rgba(0,0,0,.14),0px 1px 5px 0px rgba(0,0,0,.12);
}

.education-intro {
    min-height: 200px;
}

[ngAccordionTrigger] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  cursor: pointer;
  user-select: none;
  padding: 1rem 0px;
}

.expand-icon {
  font-size: 1.5rem;
  color: var(--quaternary-contrast);
  transition: transform .3s ease-out;
}
.expand-icon__expanded {
  transform: rotate(180deg);
}

.basic-accordion h3:not(:first-of-type) {
    border-block-start: 1px solid grey;
}

.content-box {
    background: #f6f0d7d0;
    border-radius: 10px;
    border-style: groove;
    margin-bottom: 10px;
}