/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body
{
    height: 100%;
    width: 100%;
}

body {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    background: #C5D89D;
}

app-root {
    height: 100%;
}

a {
    text-decoration: none;
    color: #222831;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Fonts */
.roboto-900 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 75;
}

.orbitron-500 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Classes */
.nav-bar {
    height: 100px;
    min-height: 100px;
    width:100%;
    background: #89986D;
}

.top-bar {
	max-width: 900px;
	height: 100px;
	margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.name {
    margin: auto 0;
    flex-shrink: 0;
    font-size: 48px;
    color: #222831;
}

.menu {
    margin: auto 0;
    color: #222831;
}

.main-content {
    min-height:  calc(100vh - 100px);
	max-width: 900px;
    background: #F6F0D7;
    margin: 0px auto;
    padding: 50px;
}

.fakeimg {
    background-color: grey;
}

.home-text {
    text-align: center;
    line-height: 1.8;
    min-height: 350px;
}

.selfie {
    height: 300px;
    width: 200px;
    float: right;
}

.project-selector {
    height: 300px;
    max-width: 800px;
    margin: 0px auto;
}

.about-text {
    text-align: center;
    line-height: 1.8;
}

